<!DOCTYPE html>

<h2>Listes des Admissions</h2>

<div class="main_menu">
    <p>
        <input ng-model="searchValue" placeholder="Filtrer par IEP...">
        <button class='btn btn-primary pull-right'><a ng-href="#/admission/new"> Nouvelle admission </a><span class='glyphicon glyphicon-plus'></span></button>
        <button class='btn btn-primary pull-right'><a ng-href="#/lits/"> Plan lit </a><span class='glyphicon glyphicon-th-list'></span></button>
        <button class='btn btn-primary pull-right'><a ng-click="ctrl.moulinette()"> MOULINETTE </a><span class='glyphicon glyphicon-refresh'></span></button>
    </p>
</div>

<div class="main_container">
    <table class="table table-condensed table-striped table-bordered">
        <tr>
            <th> IEP </th>
            <th> IPP </th>
            <th> Type d'admission </th>
            <th> Accéder aux détails </th>
            <th> Modifier </th>
            <th> Supprimer </th>
        <tr ng-repeat='ad in ctrl.admissions | filter: {iep : searchValue}'>
            <td> Admission n°{{ ad.iep }} </td>
            <td> Patient n°{{ ad.ipp }} </td>
            <td> {{ ctrl.type(ad.type) }} </td>
            <td> <button class="btn btn-link"><a ng-href="#/mouvement/id/{{ad.iep}}"> Détail </a><span class="glyphicon glyphicon-circle-arrow-right"></span></button></td>
            <td> <button class="btn btn-link"><a ng-href="#/admission/edit/{{ad.iep}}"> Modifier </a><span class="glyphicon glyphicon-pencil"></span></button></td>
            <td> <button class='btn btn-danger' ng-click="ctrl.delete(ad)"> Supprimer <span class='glyphicon glyphicon-remove'></span></button> </td>
        </tr>
    </table>
</div>  

