<!DOCTYPE html>

<table>
    <tr>
        <th> IPP </th>
        <th> IEP </th>
        <th> TYPE </th>
    <tr ng-repeat='ad in ctrl.admission'>
        <td> {{ add.ipp }} </td>
        <td> {{ add.iep }} </td>
        <td> {{ add.type }} </td>
        <td> <a ng-href="#/admission/edit/{{cr.iep}}"/> Editer </a>
        <td> <input type="button" value="delete" ng-click="ctrl.delete(ad)"/> 
    </tr>
 
    
</table>
   
    <a ng-href="#/admission/new"/> Nouvelle admission </a>
