<!DOCTYPE html>

<h3> Nouveau mouvement </h3>
<p> IEP : {{ ctrl.iep }}</p>
 
<div class="main_menu">
   <button class='btn btn-primary pull-right'><a ng-href="#/mouvements/id/{{ ctrl.iep }}"> Retour </a><span class='glyphicon glyphicon-return'></span></button>
</div>

<div class="main_container">
    <div style='width:400px'>
        <form novalidate class="simple-form">

            <label for='uf' class="control-label">UF</label><select class="form-control" ng-options="uf.id_uf+' - '+uf.nom for uf in ctrl.ufs" ng-model="ctrl.mv.uf"></select><br />  
            <label for='ipp' class="control-label">Lit</label><select class="form-control" ng-options="lit.chambre+'- lit n°'+lit.id_lit for lit in ctrl.lits" ng-model="ctrl.mv.lit"></select><br />
            <label for='ipp' class="control-label">Date entrée</label><input type="text" class="datepicker form-control" ng-model="ctrl.date"><br/>


            <input class="form-control" type="submit" ng-click="ctrl.update()" value="Enregistrer mouvement" />

        </form>
    </div>
</div>

<script>
    $(function() {
      $( ".datepicker" ).datepicker();
    });
</script>